<!-- Modal content -->
<div class="modal-content">
    <span class="close">&times;</span>
    <p>Edit Account..</p>
    <form action="/user" method="POST" class="form login">
        <div class="form__field">
            <label for="login__email">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                </svg>
                <span>First Name</span>
            </label>
            <input id="login__email" type="text" name="name_first" value="<%=user.name_first%>" class="form__input" placeholder="First Name"
                required>
        </div>
        <div class="form__field">
            <label for="login__email">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                </svg>
                <span>Last Name</span>
            </label>
            <input id="login__email" type="text" name="name_last" value="<%=user.name_last%>" class="form__input" placeholder="Last Name"
                required>
        </div>

        <div class="form__field">
            <label for="login__email">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                </svg>
                <span>Email</span>
            </label>
            <input id="login__email" type="email" name="email" value="<%=user.email%>" class="form__input" placeholder="Email" required>
        </div>
        <div class="form__field">
            <label for="login__email">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                </svg>
                <span>Phone</span>
            </label>
            <input id="login__email" type="text" name="phone" value="<%=user.phone%>" class="form__input" placeholder="Phone" required>
        </div>

        <div class="form__field">
            <input type="submit" value="Save" style="background: #24262b">
        </div>
    </form>
</div>